<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Formulación y gerencia de proyectos culturales y creativos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link rel="icon" href="../img/logo-amva.png" />
    <link href="../img/logo-amva.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body id="content-view">
    
    <header id="header" class="header fixed-top">
        <div id="logo">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                <div class="col-2">
                    <img src="../img/logo-amva.png" class="logos-1" alt="">
                </div>
                <div class="col-auto">
                    <h1><a href="../index.html">ESCUELA PARA LA SOSTENIBILIDAD EMPRESARIAL DEL </br>ÁREA METROPOLITANA DEL  VALLE DE ABURRÁ</span></a></h1>
                </div>
                <div class="col-2">
                    <img src="../img/cabezoteamvahq-2021-2.png" class="logos-2" alt="">
                </div>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
                </div>
            </div>
        </div>
        <nav id="navbar" class="navbar">
            <ul class="centrar-lista">
                <li><a class="nav-link scrollto active" href="http://amvaeducacion.com">Inicio</a></li>
                <li><a class="nav-link scrollto" href="http://amvaeducacion.com/#blog">Cursos</a></li>
                <li><a class="nav-link scrollto" href="http://amvaeducacion.com/#get-started" >Inscríbete</a></li>
                <li><a class="nav-link scrollto" href="http://amvaeducacion.com/#contacto" >Contacto</a></li>
                <li><a style="text-align: center;" class="nav-link scrollto font-weight-bold" target="_blank" href="https://cursos.amvaeducacion.com/">Acceder</a></li>
        
            </ul>
        </nav><!-- .navbar -->
    </header><!-- End Header -->

      <!-- ======= Hero Section ======= -->


    <section id="hero">
        <div class="hero-container banner-004" data-aos="fade-in">
            <img class="mt-5 boton-relleno" src="../img/logo-area.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
            <p class="mb-4">Formulación y gerencia de proyectos culturales y creativos</p>
            <a href="http://amvaeducacion.com/#get-started" class="btn-get-started scrollto mt-4">Inscríbete</a>
        
        </div>
    </section> 
  
  <!-- End Hero Section -->

  <main  id="main">

    <section id="description-course">
        <div class="description">
            <div>
                <svg width="320" height="30" fill="none" class="apear">
                    <line x1="10" y1="5" x2="280" y2="5" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                    <line x1="40" y1="25" x2="310" y2="25" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                </svg>
                <svg width="30" height="380" fill="none" class="dissapear">
                    <line x1="5" y1="5" x2="5" y2="300" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                    <line x1="25" y1="75" x2="25" y2="375" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                </svg>
                <div class="img-hojas">
                    <img src="../img/hojas.png" alt="">
                </div>
            </div>
            <div>
                <p>Los proyectos culturales día a día requieren de personas competentes para diseñar, implementar y liderar diferentes actividades que vayan en pro de la cultura, por lo cual en este curso aprenderás a cómo gestionar proyectos, sus características y mucho más.</p>
            </div>
            <div>
                <svg width="320" height="30" fill="none" class="apear">
                    <line x1="10" y1="5" x2="280" y2="5" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                    <line x1="40" y1="25" x2="310" y2="25" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                </svg>
                <svg width="30" height="380" fill="none" class="dissapear">
                    <line x1="5" y1="75" x2="5" y2="375" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                    <line x1="25" y1="5" x2="25" y2="300" stroke="#7DB928" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </div>
        </div>
    </section>

    <section id="perfil-egresado">
        <div class="division">
            <div class="text-perfil">
                <p>Perfil del Egresado</p>
                <p>Al finalizar este curso el participante contará con los conocimientos y competencias técnicas necesarias, para diseñar, implementar y liderar proyectos culturales y creativos, con un sólido dominio del enfoque PMI, aplicado al marco de la industria cultural y creativa en Colombia.</p>    
            </div>
            <div class="image-perfil">
                <img src="../img/egresado2.png" alt="">
            </div>
        </div>
    </section>

    <section id="contenidos">
        <div>
            <p>Programación del proceso formativo</p>
            <p>Curso 56 Horas</p>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme1" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow1'))">
                    <tr>
                        <th>Tema<br><span>01</span></th>
                        <th>Principios generales</th>
                        <th class="arrow-turn" id="arrow1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme1">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td>Antecedentes y definición</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td>Características y tipo de proyectos</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1.3</td>
                    <td>¿Qué es PROJECT MANAGEMENT INSTITUTE -PMI-?</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1.4</td>
                    <td>Triple Restricciones y Portafolio</td>
                    <td>4</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme2" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow2'))">
                    <tr>
                        <th>Tema<br><span>02</span></th>
                        <th>Funcionamiento</th>
                        <th class="arrow-turn" id="arrow2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme2">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>2.1</td>
                    <td>Estructuras organizacionales</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>2.2</td>
                    <td>Dirección de proyectos</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>2.3</td>
                    <td>Project Management Body Of Knowledge (PMBPOk)</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>2.4</td>
                    <td>Matriz de proyectos</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>2.5</td>
                    <td>Integración  de procesos (PMBPOk)</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme3" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow3'))">
                    <tr>
                        <th>Tema<br><span>03</span></th>
                        <th>Pros y contras</th>
                        <th class="arrow-turn" id="arrow3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme3">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>3.1</td>
                    <td>Ciclo de vida del proyecto</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>3.2</td>
                    <td>Flujo de procesos</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3.3</td>
                    <td>Áreas de conocimiento</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3.4</td>
                    <td>Redacción del título del proyecto y objetivos SMART</td>
                    <td>2</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme4" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow4'))">
                    <tr>
                        <th>Tema<br><span>04</span></th>
                        <th>Aspectos de constitución</th>
                        <th class="arrow-turn" id="arrow4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme4">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>4.1</td>
                    <td>Acto constitutivo</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>4.2</td>
                    <td>Modelo de negocios</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4.3</td>
                    <td>Estructura de matriz de intereses</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4.4</td>
                    <td>Gestión de los interesados</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4.5</td>
                    <td>Trabajando sobre mi proyecto</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme5" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow5'))">
                    <tr>
                        <th>Tema<br><span>05</span></th>
                        <th>Planeación y matriz de resultados</th>
                        <th class="arrow-turn" id="arrow5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme5">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>5.1</td>
                    <td>Proceso de planeación en equipo</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>5.2</td>
                    <td>Planes de dirección</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>5.3</td>
                    <td>Matriz de resultados</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>5.4</td>
                    <td>Trabajando sobre mi proyecto</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme6" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow6'))">
                    <tr>
                        <th>Tema<br><span>06</span></th>
                        <th>Diagrama de red y cronograma</th>
                        <th class="arrow-turn" id="arrow6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme6">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>6.1</td>
                    <td>Gestión del cronograma y su estructura</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>6.2</td>
                    <td>Programación. Descripción General</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>6.3</td>
                    <td>Duración  y actividades</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>6.4</td>
                    <td>Diagrama de red</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>6.5</td>
                    <td>Trabajando sobre mi proyecto</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        </div>
        <div>
            <div class="table-theme" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTheme7" aria-expanded="false" aria-controls="collapseExample">
                <table onclick="rotateArrow(document.getElementById('arrow7'))">
                    <tr>
                        <th>Tema<br><span>07</span></th>
                        <th>Curva S de recursos y costos</th>
                        <th class="arrow-turn" id="arrow7">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#146B98" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="collapse" id="collapseTheme7">
            <table class="table-collapse">
                <tr>
                    <th></th>
                    <th>TEMÁTICA</th>
                    <th>HORAS</th>
                </tr>
                <tr>
                    <td>7.1</td>
                    <td>Curva S de recursos</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>7.2</td>
                    <td>Gestión de costos</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>7.3</td>
                    <td>Liquidación de costos</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>7.4</td>
                    <td>Clasificación de costos</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>7.5</td>
                    <td>Trabajando sobre mi proyecto</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        </div>
    </section>

  </main>

  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="http://amvaeducacion.com">Área Metropolitana <br> del Valle De Aburrá</a>
            <p></p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Redes sociales</h4>

            <ul class="list-unstyled">
              <li><a href="https://twitter.com/areametropol">Twitter</a></li>
              <li><a href="https://www.facebook.com/Areametropol/">Facebook</a></li>
              <li><a href="https://www.instagram.com/areametropol/">Instagram</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

</body>
</html>